@charset "UTF-8";

/*Celular*/

@media screen and (min-width: 300px) and (max-width:480px){
    section{
        width: 470px;
    }
    .gallery{
        grid-template-columns: 1fr;

    }
    .gallery-img{
        width: 450px;
    }
}
/*Tablet*/
@media screen and (min-width: 768px) and (max-width:992px){
    section{
        width:80vw;
    }

    .gallery{
        grid-template-columns: 1fr;

    }
    .gallery-img{
        width: 80vw;
    }
    
}
/*PC*/
@media screen and(min-width:992px) {
    section{
        width:80vw
        
    }
    
}