@charset "UTF-8";
    body{
    background-color: #b5a798;
    }
        header{
            background-color: aliceblue;
            padding: 10px;
            margin: 10px;
        }

        nav{
            background-color: #b8b6b6;
            padding: 3px;
            box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0, 0.464);
        }
        nav > a{ 
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-weight: bold;
            padding: 10px;
            margin-right: 30px;
        }
        nav > a:hover{
            text-decoration: underline;
            color: black;
        }

      
        main{
            background-color: rgba(247,242,247,0.996);
        }
        #text1{
            color: white;
            background-color: #2f2e2e;
            width: 700px;
            height: 400px;
            border: 10px solid darkgrey;
            padding: 20px 20px;
            margin: 20px 40px;
            position: relative;
            text-align: left;
            font-size: 20pt;
            
        }

        #foto1{
            background-color: #624763;
            width:600px;
            height: 330px ;
            padding: 10px 20px;
            position: absolute;
            margin-left: -200px;
            margin-top: -100px;
            

        }
        div.quadrado{
            display: inline-block;

        }
        footer > p{
            text-align: center;
            font-weight: bold;
            font-style: italic;
            font-size: 14pt;
        }
        #theo{
            color: black;
            padding: 15px;
            margin-left: 18px;
            font-size: 12pt;
            text-decoration: none;
            font-weight: bold;
        }
        #isa{
            color: black;
            padding: 15px;
            margin-left: 18px;
            font-size: 12pt;
            text-decoration: none;
            font-weight: bold;
        }

        #olivia{
            color: black;
            padding: 15px;
            margin-left: 18px;
            font-size: 12pt;
            text-decoration: none;
            font-weight: bold;
        }
       