@charset "UTF-8";
    body{
    background-color: #b5a798;
    
    }

    header{
       background-color: aliceblue;
       padding: 10px;
       margin: 10px;
       
    }

    nav{
        background-color: #b8b6b6;
        padding: 3px;
        box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0, 0.464);
    }
    nav > a{ 
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-weight: bold;
            padding: 10px;
            margin-right: 30px;
        }
        nav > a:hover{
            text-decoration: underline;
            color: black;
        }

      
        main{
            background-color: rgba(247,242,247,0.996);
        }
        #text1{
            color: white;
            background-color: #2f2e2e;
            width: 700px;
            height: 400px;
            border: 10px solid darkgrey;
            padding: 20px 20px;
            margin: 20px 40px;
            position: relative;
            text-align: left;
            font-size: 20pt;
            
        }

        #foto1{
            background-color: #624763;
            width:600px;
            height: 330px ;
            padding: 10px 20px;
            position: absolute;
            margin-left: -200px;
            margin-top: -100px;
            

        }
        div.quadrado{
            display: inline-block;

        }
        footer > p{
            text-align: center;
            font-weight: bold;
            font-style: italic;
            font-size: 14pt;
        }
        #theo{
            color: black;
            padding: 15px;
            margin-left: 18px;
            font-size: 12pt;
            text-decoration: none;
            font-weight: bold;
        }
        #isa{
            color: black;
            padding: 15px;
            margin-left: 18px;
            font-size: 12pt;
            text-decoration: none;
            font-weight: bold;
        }
        
        .gallery{
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(8, 5vw);
            grid-gap:8px;
        }
        .gallery_img{
            width: 100%;
            height:auto;
            object-fit: cover;
        }
        .gallery_item--1{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;

        }
        .gallery_item--2{
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        .gallery_item--3{
            grid-column-start: 5;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        .gallery_item--4{
            grid-column-start: 7;
            grid-column-end: 9;
            grid-row-start: 5;
            grid-row-end: 7;
        }
        .gallery_item--5{
            grid-column-start: 7;
            grid-column-end: 9;
            grid-row-start:1;
            grid-row-end: 3;
        }
        .gallery_item--6{
            grid-column-start: 5;
            grid-column-end: 7;
            grid-row-start:4;
            grid-row-end: 6;
        }

        .gallery_item--7{
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start:4;
            grid-row-end: 6;
        }
     
        .gallery_item--8{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start:4;
            grid-row-end: 6;
        }
     